:root {
    --top-nav: #ff9802;
    --accent-color: #ffdca9;
    --main-nav: #565455;
    --button-color: #d9d9d9;
    --filter-background-color: #F3F3F3;
    --place-holder-color: #7B7B7B;
  
    --font-family-exo2: "Exo 2", sans-serif;
  }