@import url("../css/root.css");
* {
  box-sizing: border-box;
}

.drop {
  border-radius: 5px;
  width: 90%;
  height: 35px;
  margin-bottom: 10px;
  background-color: #ff8989;
  color: black;
  align-self: center;
  justify-self: center;
  font-family: var(--font-family-exo2);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
.drop:hover {
  transition: 0.2s;
  background-color: #ff6767;
}

img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  height: 100%;
  max-height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  position: relative;
  z-index: -2;
}
body ul {
  padding: 0;
}
body header {
  max-width: 1536px !important;
}
body header .container-fluid {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 12vw 0 0;
  padding: 0;
}
body header .container {
  width: 80% !important;
  padding: 0;
  display: flex !important;
  margin: 0;
  max-width: 100vw !important;
}
body header .top-nav {
  background-color: rgba(255, 255, 255, 0);
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body header .top-nav ul {
  display: flex;
  gap: 70px;
  justify-content: center;
  margin: 0;
}
body header .top-nav ul li {
  cursor: pointer;
}
body header .main-nav {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
body header .main-nav nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
  flex-wrap: nowrap;
  font-size: clamp(12px, 1.2vw, 20px);
  width: 100vw;
}
body header .main-nav nav .container {
  width: 100%;
}
body header .main-nav .logo {
  cursor: pointer;
}
body header .main-nav ul {
  display: flex;
  gap: 35px;
  margin: 0;
  align-items: center;
  font-size: 15px;
  flex-wrap: nowrap;
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body header .main-nav ul li {
  cursor: pointer;
}
body header .main-nav ul li:hover {
  color: #d9d9d9;
}
body header .main-nav ul .advice-button {
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 40px;
  background-color: var(--button-color);
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  color: black;
  cursor: pointer;
}
body header .main-nav ul .advice-button:hover {
  transition: 0.2s;
  color: white;
  background-color: var(--top-nav);
}
body header .main-nav ul .contact-header-list {
  display: flex;
  justify-content: center;
}
body header .main-nav ul .contact-header-list li {
  cursor: pointer;
}
body header .main-nav ul .contact-header-list li img {
  padding: 6px;
}
body header .main-nav ul .contact-header-list li img:hover {
  animation: jumpingIcons 0.5s ease-out;
}
body header .main-nav .work-data {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  flex-wrap: nowrap;
  gap: 4px;
}
body header .main-nav .work-data p {
  margin: 0;
}
body header .main-nav .work-data .contact-tel {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 20px;
  font-weight: 500;
}
body header .main-nav .work-data .contact-time {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
  font-weight: 500;
}
body .background {
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url("../source/background.jpg");
  background-size: cover;
  margin: -1vw 0 0 -1vw;
  width: 101vw;
  height: 107vh;
  filter: blur(10px);
  overflow: hidden;
}
body main {
  width: 80vw;
  height: -moz-max-content;
  height: max-content;
  margin: 10px 10vw;
  display: flex;
  flex-grow: 1;
}
body main .button-area {
  display: flex;
  width: 90%;
  height: 45px;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  text-wrap: nowrap;
}
body main .button-area button {
  width: 50%;
  padding: 32px;
  background-color: var(--accent-color);
  font-size: 13px;
  text-transform: uppercase;
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .button-area button:first-child {
  padding-left: 15px;
  border-right: 1px solid black;
}
body main .button-area button:hover {
  transition: 0.2s;
  background-color: #ffebca;
}
body main .filter {
  margin-top: 20px;
  background-color: rgba(243, 243, 243, 0.1450980392);
  width: 90%;
  height: 60%;
  border-radius: 10px;
}
body main .filter .form-area .toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .filter .form-area form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
body main .filter .form-area form:first-child {
  margin-top: 5px !important;
}
body main .filter .form-area form select,
body main .filter .form-area form input,
body main .filter .form-area form label {
  width: 90%;
  height: 40px;
  padding: 0 20px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
body main .filter .form-area form select:first-child,
body main .filter .form-area form input:first-child,
body main .filter .form-area form label:first-child {
  margin-top: 10px;
}
body main .filter .form-area form select::-moz-placeholder, body main .filter .form-area form input::-moz-placeholder, body main .filter .form-area form label::-moz-placeholder {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .filter .form-area form select::placeholder,
body main .filter .form-area form input::placeholder,
body main .filter .form-area form label::placeholder {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .filter .form-area form label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
body main .filter .form-area form label span {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  color: var(--place-holder-color);
}
body main .card-area {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body main .card-area .searcher {
  width: 100%;
  max-width: 1119px;
  min-width: 300px;
  margin: 0 2.2%;
}
body main .card-area .searcher select, body main .card-area .searcher input {
  width: 100%;
  background-color: var(--button-color);
  border-radius: 10px;
  padding: 15px;
  font-family: var(--font-family-exo2);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .card-area .searcher select::-moz-placeholder, body main .card-area .searcher input::-moz-placeholder {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .card-area .searcher select::placeholder, body main .card-area .searcher input::placeholder {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .card-area .shop-part {
  display: flex;
  flex-wrap: wrap;
}
body main .card-area h2 {
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-align: center;
  margin-top: 10px;
}
body main .card-area .card {
  width: 340px;
  max-width: 340px;
  max-height: 540px;
  height: 530px;
  margin: 15px 25px;
  display: grid !important;
  grid-template-rows: 100fr 1fr 1fr 1fr 1fr 1fr;
  font-family: var(--font-family-exo2);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  background-color: var(--filter-background-color);
  border-radius: 10px;
  overflow: hidden;
}
body main .card-area .card img {
  max-width: 100%;
  width: 100%;
}
body main .card-area .card .preview {
  background-size: cover;
  width: 100%;
  height: 100%;
}
body main .card-area .card table {
  margin: 7px auto;
  font-family: var(--font-family-exo2);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 14px;
}
body main .card-area .card table tr {
  height: 20px;
  color: var(--place-holder-color);
}
body main .card-area .card table tr th {
  font-family: var(--font-family-exo2);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .card-area .card table tr td {
  padding-left: 5px;
}
body main .card-area .card table tr:nth-child(odd) {
  background-color: white;
}
body main .card-area .card .price-enable,
body main .card-area .card .price-disable {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  font-family: var(--font-family-exo2);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .card-area .card .Order {
  border-radius: 26px;
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
  background-color: var(--accent-color);
  align-self: center;
  justify-self: center;
  font-family: var(--font-family-exo2);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body main .card-area .card .Order:hover {
  transition: 0.2s;
  background-color: var(--top-nav);
}
body footer {
  width: 100vw;
  max-width: 100vw;
  background-color: white;
  display: flex;
  flex-shrink: 0;
  margin-top: auto;
}
body footer .footer__content {
  width: 80%;
  margin: 0 10%;
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Rubik", sans-serif;
  font-size: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 20px;
}
body footer .footer__content .Owner {
  padding-bottom: 20px;
}
body footer .footer__content .footer__contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body footer .footer__content .footer__contact .telegram {
  display: flex;
  align-items: center;
}
body footer .footer__content .footer__contact .telegram::before {
  content: url("../source/telegram-ico.svg");
  margin-right: 5px;
}
body footer .footer__content .footer__contact .mail {
  display: flex;
  align-items: center;
}
body footer .footer__content .footer__contact .mail::before {
  content: url("../source/mail-footer.svg");
  margin-right: 5px;
}
body footer .footer__content .footer__contact .tel {
  display: flex;
  align-items: center;
}
body footer .footer__content .footer__contact .tel::before {
  content: url("../source/tel-footer.svg");
  margin-right: 5px;
}

@keyframes jumpingIcons {
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .wrapperMain {
    overflow-x: hidden;
  }
  header {
    margin: 0 5vw !important;
    width: 80vw !important;
    max-width: 100% !important;
  }
  header .container-fluid {
    justify-content: start !important;
  }
  header main-nav {
    width: 100% !important;
  }
  header main-nav nav {
    width: 100% !important;
  }
  header .container {
    width: 100% !important;
    display: flex !important;
    justify-content: start !important;
  }
  header .top-nav {
    background-color: rgba(255, 255, 255, 0);
    font-family: var(--font-family-exo2);
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
  header .top-nav ul {
    display: flex;
    gap: 15px !important;
    justify-content: center;
    margin: 0;
  }
  header .top-nav ul li {
    cursor: pointer;
  }
  header .main-nav {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  header .main-nav nav {
    gap: 1.5vw !important;
    width: 100% !important;
  }
  header .main-nav nav .container {
    width: 100%;
  }
  header .main-nav nav ul {
    gap: 15px !important;
    font-size: 12px !important;
  }
  header .main-nav nav ul .advice-button {
    width: 12vw !important;
    height: 4vh !important;
  }
  header .main-nav nav ul .work-data {
    width: 13vw;
  }
  main {
    margin: 0 5vw !important;
  }
  .searcher input {
    width: 100% !important;
  }
}
@media (min-width: 1300px) and (max-width: 1900px) {
  .shop-part {
    grid-template-columns: repeat(3, 33.3333333333%);
  }
}/*# sourceMappingURL=style.css.map */