{% load static %}

<header>
    <div class="top-nav container-fluid"></div>
    <div class="main-nav container-fluid">
        <nav class="container">
            <a class="logo" href="{% url 'index' %}"><img src="{% static 'engines/source/logo.svg' %}" alt="#"/></a>
            <ul>
                <li><a href="{% url 'index' %}">Каталог</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li>Договор</li>
                <li><a href="{% url 'about' %}">Для сервисов</a></li>
                <ul class="contact-header-list">
                    <li><img src="{% static 'engines/source/mail.svg' %}" alt="#"/></li>
                    <li><img src="{% static 'engines/source/telegram.svg' %}" alt="#"/></li>
                    <li><img src="{% static 'engines/source/vk.svg' %}" alt="#"/></li>
                </ul>
                <li>
                    <button class="advice-button">Консультация</button>
                </li>
            </ul>
            <div class="work-data">
                <p class="contact-tel">8-800-555-35-35</p>
                <p class="contact-time">Пн-Вс 8.00-21.00</p>
            </div>
        </nav>
    </div>
</header>